:root{
--Orange: hsl(25, 97%, 53%);
--white: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%,0.2);
--Dark-Blue: hsl(213, 19%, 18% , 0.6);
--Very-Dark-Blue: hsl(216, 12%, 8%);
}
/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /*to use rem */
}
body{
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very-Dark-Blue);
}

/* card  */
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* card content one  */
.card{
    background-color:  var(--Dark-Blue);
    width:500px;
    border-radius: 1.5rem;
    padding: 2.5rem;
    max-width: 41rem;
}

.title{
    font-size: 2.4rem;
    color: var(--white);
    margin-top: 1.9rem ;
}
.star{
    background-color: var(--Medium-Grey);
    width: 4rem;
    height: 4rem;
    padding: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.star>img{
    width: 1.4rem;
}
.text{
    color: var(--Light-Grey);
    font-size: 1.415rem;
    line-height: 2.2rem;
    margin-top: 1.2rem;
}
.rating-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.rating-btn{
    color: var(--white);
    background-color: var(--Medium-Grey);
    font-size: 1.3rem;
    font-weight: 700;
    width: 4.1rem;
    height: 4.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 2.6rem;
}
.rating-btn:hover{
    background-color: var(--Orange);
    cursor: pointer;
}
.rating-btn:hover>div{
    color: var(--white);
}
.submit-btn{
    background-color: var(--Orange);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2.5rem ;
    padding: 1.3rem;
    border-radius: 4rem;
}
.submit-btn>div{
    color: var(--white);
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.submit-btn:hover{
    background-color: var(--white);
    cursor: pointer;
}
.submit-btn:hover>div{
    color: var(--Orange);
    font-weight: 700;
}
.active{
    background-color: var(--Light-Grey);
}
.active>div{
    color: var(--white);
}
/* card content two  */
.card-content-2{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.card-content-2>.text{
    text-align: center;
    margin-bottom: 1.5rem;

}
.card-content-2>img{
    width: 14.5rem;
    margin-top: 1rem;
}
.result{
    background-color: var(--Medium-Grey);
    padding: 0.8rem 1.4rem;
    border-radius: 2rem;
    margin-top: 2.4rem;
    margin-bottom: .6rem;
}
.result>div{
    color: var(--Orange);
    font-size: 1.4rem;
}
.hide{
    display: none;
}

/* media  */   
@media screen  and(min-width:1440px){
    .card{
        padding: 3rem;
        border-radius: 3rem;
    }
    .star{
        width: 5rem;
        height: 5rem;
    }
    img{
        width: 1.7rem;
    }
    .title{
        font-size: 2.77rem;
        margin-top: 3.4rem;
    }
    .text{
        margin-top: .9rem;
        line-height: 2.45rem;
        font-size: 1.505;
    }
    .rating-btn{
        width: 5.1rem;
        height: 5.1rem;
        font-size: 1.6rem;
    }
    .submit-btn{
        margin-top: 3.2rem;
    }
}